<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{% block title %}Waumans Vehicles{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <style>
        body {
            margin: 0;
            font-family: "urbane-rounded", sans-serif;
        }

        nav {
            width: calc(100% - 40px);
            background-color: #333;
            padding: 20px;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.6rem;
            position: fixed;
            top: 0;
        }

        nav a, footer a {
            color: #fff;
            text-decoration: none;
            margin-right: 20px;
        }

        nav a:hover, footer a:hover {
            color: #ccc;
        }

        .link__container {
            width: 50%;
            display: flex;
            justify-content: space-between;
            margin-left: 25%;
        }

        .content {
            width: calc(100% - 40px);
            padding: 20px;
            margin-top: 60px;
        }

        footer {
            width: calc(100% - 40px);
            padding: 20px;
            background-color: #333;
            color: #fff;
            text-align: right;
            font-size: 1.6rem;
        }

        footer p {
            margin: 0;
        }

        @media (max-width: 1030px) {
            .link__container {
                margin-left: 15%;
                width: 70%;
            }
        }

         @media (max-width: 700px) {
            .link__container {
                margin-left: 10px;
                width: 100%;
            }
        }
    </style>
    <link>{% block styles %}{% endblock %}</link>
</head>
<body class="ltr">
        <div id="main">
            <nav>
                <div class="link__container">
                    <a href="../">home</a>
                    <a href="../catalogue.twig">catalogue</a>
                </div>
            </nav>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            <footer>
                <p>All rights reserved WRS©</p>
            </footer>
        </div>
</body>
</html>
