{# templates/home.twig #}
{% extends 'layouts/main-layout.twig' %}

{% block title %}Catalogue - Waumans Vehicles{% endblock %}

{% block styles %}
    {# Include additional stylesheet specific to home.twig #}
    <link rel="stylesheet" href="{{ url('../catalogue/home.css') }}">
{% endblock %}

{% block content %}
    {# Content specific to the home page #}
    <h1>Catalogue</h1>
{% endblock %}
