{% extends 'layouts/main-layout.twig' %}

{% block title %}Contact - Waumans Vehicles{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url('../styles/contact.css') }}">
{% endblock %}

{% block content %}
    <h1>Contact</h1>
{% endblock %}