{# templates/home.twig #}
{% extends 'layouts/main-layout.twig' %}

{% block title %}Home - Waumans Vehicles{% endblock %}

{% block styles %}
    {# Include additional stylesheet specific to home.twig #}
    <link rel="stylesheet" href="{{ url('../styles/home.css') }}">
{% endblock %}

{% block content %}
    {# Content specific to the home page #}
    <img class="home__background" src="{{ entry.carImage.one().url }}" alt="{{ entry.carImage.one().title }}">
    <div class="home__content">
        {{ entry.text }}
        <a href="./catalogue.twig" class="cta__btn">Check our vehicles!</a>
    </div>
{% endblock %}