{# templates/home.twig #}
{% extends 'layouts/main-layout.twig' %}

{% block title %}Vehicle - Waumans Vehicles{% endblock %}

{% block styles %}
    {# Include additional stylesheet specific to home.twig #}
    <link rel="stylesheet" href="{{ url('../styles/vehicle.css') }}">
{% endblock %}

{% block content %}
    {# Content specific to the home page #}
    <h1>Vehicle</h1>
{% endblock %}
